networks:
  default:
    driver: bridge
    name: roboshop
services:
  mongodb:
    image: mongodb:v1
    container_name: mongodb
  catalogue:
    image: catalogue:v1
    container_name: catalogue
  redis:
    image: redis:v1
    container_name: redis
  user:
    image: user:v1
    container_name: user
  cart:
    image: cart:v1
    container_name: cart
  mysql:
    image: mysql:v1
    container_name: mysql 
  shipping:
    image: shipping:v1
    container_name: shipping 
  